/* .collapsible {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
} */

.collapsible h2 {
  color: rgb(255, 251, 9);
}

.collapsible {
  background-color: rgb(223, 223, 223);
  padding: 10px;
  margin: 2px;
  border-radius: 15px;
}

.collapsible:hover {
  cursor: pointer;
}

.collapsible .toggle {
  background: rgb(95, 95, 95);
  border: unset;
  margin-bottom: 0.3rem;
  cursor: pointer;
  font: inherit;
  padding: 0.6rem;
  border-radius: 3px;
  color: blue;
}

.collapsible .content {
  border-radius: 5px;
  background: rgb(95, 95, 95);
  color: white;
  padding: 0.3rem;
  margin: 2rem;
  margin-bottom: 3rem;
}

.collapsible .content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.5s;
}
