.header {
  border-radius: 10px;
  background-color: rgb(95, 95, 95);
  color: rgb(255, 251, 9);
  padding: 12px;
  margin: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-white {
  color: white;
  transition: ease-in 0.5s;
}

.header-yellow {
  color: yellow;
  transition: ease-out 0.5s;
}
